---
---

@import "{{ site.theme }}";


img.avatar {
    max-height: 48px;
    max-width: 48px;
}

.comment-url {
    font-size: 8pt;
}

.comment-content {
    color: #101010;
    white-space: pre;
}

li {  
    line-height: normal;
    list-style-type: none;
    border-style: none none solid none;
    border-width: 1px;
    border-color: darkgrey;
    background-color: #CCCCCC;
}
