---
---

@import "{{ site.theme }}";


img.avatar {
    max-height: 32px;
    max-width: 32px;
}

.comment-url {
    font-size: 8pt;
}

.comment-content {
    font-family: sans-serif;
    white-space: pre;
}

li {  
    list-style-type: none;
    border-style: none none solid none;
    border-width: 1px;
    border-color: darkgrey;
    background-color: #101010;
}
